<a class="btn btn-outline-primary nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fa-solid fa-question" style="color: #ffffff">&nbsp;</span>Help
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
    <partial name="Menu/_HelpSubMenu" />
</ul>