<a class="btn btn-outline-primary nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fa-solid fa-question" style="color: #ffffff">&nbsp;</span>Help
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
    <li>
        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="About">About Secret Santa</a>
    </li>
    <li>
        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="FAQs">Frequently Asked Questions</a>
    </li>
    <li>
        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy and Security</a>
    </li>
</ul>