@using ViewLayer.Models.Home

@model MainMenuVm
@{
    string navItemClass = "nav-item dropdown" 
        + (string.IsNullOrEmpty(Model.DropdownClass) ? string.Empty : (" " + Model.DropdownClass));
}

<ul class="navbar-nav">
    <li class="@navItemClass">
        <partial name="Menu/_GiftingMenu" />
    </li>
</ul>

@if (!Model.Small)
{
    <text>&nbsp;</text>
}

<ul class="navbar-nav">
    <li class="@navItemClass">
        <partial name="Menu/_AccountMenu" />
    </li>
</ul>