@using ViewLayer.Models.Home

@model MainMenuVm
@{
    string navItemClass = "nav-item dropdown" 
        + (string.IsNullOrEmpty(Model.DropdownClass) ? string.Empty : (" " + Model.DropdownClass));
}

@foreach (string menuItem in Model.LoggedInMenuItems)
{
    string menuPath = $"Menu/_{menuItem}";
    
    @if (!Model.Small)
    {
        <text>&nbsp;</text>
    }

    <ul class="navbar-nav">
        <li class="@navItemClass">
            <partial name="@menuPath" />
        </li>
    </ul>
}