@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-outline-primary nav-link dropdown-toggle" href="#" id="partnersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fa-solid fa-envelope" style="color: #eebb55">&nbsp;</span>Messages
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="partnersDropdown">
        <li>
            <a class="dropdown-item" asp-area="Messages" asp-controller="Home" asp-action="Index">Read Your Messages</a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="Messages" asp-controller="Home" asp-action="SentMessages">Sent Messages</a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="Messages" asp-controller="Home" asp-action="WriteMessage">Write a Message</a>
        </li>
    </ul>
}