@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-outline-primary nav-link dropdown-toggle" href="#" id="partnersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fa-solid fa-user">&nbsp;</span>Partners
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="partnersDropdown">
        <li>
            <a class="dropdown-item" asp-area="Partners" asp-controller="Manage" asp-action="Index">Manage Relationships</a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="Partners" asp-controller="Manage" asp-action="AddRelationship">Add a Relationship</a>
        </li>


    </ul>
}