@using Application.Santa.Areas.GiftingGroup.BaseModels
@model SetupGiftingGroupYearVm

<div class="mvc-grid mvc-grid-excel-mode" data-name=string.Empty data-filter-mode="Excel" data-url=string.Empty>
    <div class="mvc-grid-table">
        <table>
            <thead>
                <tr class="mvc-grid-headers">
                    <th>
                        <span class="mvc-grid-title">Name</span>
                    </th>
                    <th>
                        <span class="mvc-grid-title">UserName</span>
                    </th>
                    <th>
                        <span class="mvc-grid-title">Included</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.GroupMembers.Count; i++)
                {
                    YearGroupUserBase user = Model.GroupMembers[i];

                    <tr>
                        <td>
                            <span class="hidden">
                                <input type="hidden" asp-for="GroupMembers[i].SantaUserId" />
                                <input type="hidden" asp-for="GroupMembers[i].UserDisplayName" />
                                <input type="hidden" asp-for="GroupMembers[i].Email" />
                                <input type="hidden" asp-for="GroupMembers[i].UserName" />
                                <input type="hidden" asp-for="GroupMembers[i].Forename" />
                                <input type="hidden" asp-for="GroupMembers[i].Surname" />
                            </span>
                            @user.UserDisplayName</td>
                        <td>@user.UserName</td>
                        <td>
                            <span class="text-secondary">No</span> <input type="radio" asp-for="GroupMembers[i].Included" value="@false" />
                            <span class="text-primary">Yes</span> <input type="radio" asp-for="GroupMembers[i].Included" value="@true" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>