@using Application.Areas.GiftingGroup.ViewModels
@model JoinGiftingGroupVm
@{
    ViewData["Title"] = "Join a Group";
}

<h1>Join a Gifting Group</h1>

<section>
    <form asp-area="GiftingGroup" asp-controller="Manage" asp-action="JoinGiftingGroup" method="post" class="join-group-form"
        data-get-group-details="@Model.GetGroupDetailsAction">

        <partial name="_FormHiddenInputs" />

        <partial name="_JoinGiftingGroup" />
    </form>
</section>