@using Global.Abstractions.Areas.Account

@model IConfirmCurrentPassword
@{
    string passwordExplanation = "Please enter your current existing password for security, to confirm it's really you.";
}

<div class="col-md-12">
    <div class="@StandardFormGroup">
        <label asp-for="CurrentPassword" class="control-label required"></label>
        <div class="input-group input-info">
            <input asp-for="CurrentPassword" class="form-control" autocomplete="off" aria-required="true" placeholder="Enter your current password" />
            <div class="input-group-text"><i class="fa fa-eye collapse"></i></div>
            <partial name="_InputQuestion" model="@passwordExplanation" />
        </div>
        <div>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
</div>