@using Global.Abstractions.Global.Account

@model IConfirmCurrentPassword
@{
    string passwordExplanation = "Please enter your current existing password for security, to confirm it's really you.";
    string passwordLabel = string.IsNullOrWhiteSpace(Model.CurrentPasswordLabel) ? "Current Password" : Model.CurrentPasswordLabel;
}

<div class="col-md-12">
    <div class="form-group-ib col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
        <label asp-for="CurrentPassword" class="control-label required">@passwordLabel</label>
        <div class="input-group input-info">
            <input asp-for="CurrentPassword" class="form-control" autocomplete="off" aria-required="true" placeholder="Enter your current password" />
            <div class="input-group-text"><i class="fa fa-eye collapse"></i></div>
            <partial name="_InputQuestion" model="@passwordExplanation" />
        </div>
        <div>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
</div>