@using Application.Areas.Account.BaseModels

@model SantaUser
@{
    string middleNamesExplanation = "This is optional, but may be helpful if someone else has a similar first name and surname";
}

<div class="d-flex flex-wrap text-center justify-content-center align-content-center">
    <div class="@StandardGroupWidth">
        <div class="mb-3">
            <label asp-for="Forename" class="control-label required"></label>
            <input asp-for="Forename" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Enter your first name here" />
            <div>
                <span asp-validation-for="Forename" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="MiddleNames" class="control-label"></label>
            <div class="input-group input-info">
                <input asp-for="MiddleNames" class="form-control" autocomplete="middlenames" aria-required="false" placeholder="Enter any middle names here" />
                <partial name="_InputQuestion" model="@middleNamesExplanation" />
            </div>
            <div>
                <span asp-validation-for="MiddleNames" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Surname" class="control-label required"></label>
            <input asp-for="Surname" maxlength="250" class="form-control" autocomplete="surname" aria-required="true" placeholder="Enter your surname here" />
            <div>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>