@model SantaUser

@if (Model.Forename.IsNotEmpty() && Model.Surname.IsNotEmpty())
{
    string normalDisplay = Model.DisplayName(false);
    string longDisplay = Model.DisplayName(true);
    string fullName = Model.FullName();
    
    if (longDisplay != normalDisplay || fullName != normalDisplay)
    {
        string text = $"Your name will normally be shown as \"<b>{normalDisplay}</b>\", and sometimes as \"<b>{fullName}</b>\".";
                    
        if (longDisplay != normalDisplay && longDisplay != fullName)
        {
            text += $" It may occasionally be shown as \"<b>{longDisplay}</b>\".";
        }
        
        <div class="mt-4 mb-3 col-12">
            <partial name="_PageInfo" model="@text" />
        </div>
    }
}