@model SetSecurityQuestionsVm
@{
    ViewData["Title"] = "Set Security Questions";
    string hintExplanation = "Add a short hint if you might think of more than one answer, or write it differently - but keep it cryptic so only you'll know!";
    string greetingExplanation = "This is the greeting shown when you log in. You can change the greeting if you don't like it.";
}

<div class="text-center">
    @if (Model.Update)
    {
        <h1>Update your security questions</h1>
    }
    else
    {
        <h1>Please set your security questions</h1>
    }

    <section>
        <form asp-area="Account" asp-controller="Manage" asp-action="SetSecurityQuestions" method="post">

            <div class="collapse">
                <input type="hidden" asp-for="Update" />
            </div>


            <div class="row d-flex align-items-center justify-content-center text-center">
                <div class="mb-5 mt-2">
                    
                    <p>These will be used to identity you if you forget your password in the future.</p>
                    <p>Please enter two questions, or select from the existing lists. Choose answers that you'll remember, but others won't know.</p>
                    <p>To protect your security and privacy answers and hints, and your greeting, are scrambled immediately in the database.</p>
                    <br />

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="collapse">
                        @for (int i = 0; i < Model.Greetings.Count; i++)
                        {
                            <input type="hidden" asp-for="Greetings[i]" class="form-control greeting-option" aria-required="true" readonly="true" autocomplete="off" />
                        }
                        <input type="hidden" asp-for="Greeting" class="greeting-text" />
                    </div>

                    <h2>Your Greeting</h2>
                    <div class="col-md-12">
                        <div class="form-group-ib col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
                            <label class="w-100 d-flex align-items-center justify-content-between">
                                <label asp-for="Greeting" class="control-label required"></label>
                                <label class="fw-normal greeting-text">@Model.Greeting</label>
                                <a href="#" class="btn btn-sm btn-primary change-greeting" onClick="changeGreeting()"><i class="fa fa-dice"></i> &nbsp; <span class="btn-text">Change</span></a>
                                <div class="d-inline" data-toggle="tooltip" data-html="true" data-bs-container="label" title="@greetingExplanation">
                                    <i class="fa fa-circle-question fa-border"></i>
                                </div>
                            </label>
                            <div>
                                <span asp-validation-for="Greeting" class="text-danger mt-3"></span>
                            </div>
                        </div>
                    </div>
                    <br />

                    <h2>Question 1</h2>
                    <div class="col-md-12">
                        <div class="form-group-ib col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
                            <label asp-for="SecurityQuestion1" class="control-label required"></label>
                            <input asp-for="SecurityQuestion1" class="form-control" aria-required="true" placeholder="Enter or select a question"
                                   list="questionsList" autocomplete="off" />
                            <div>
                                <span asp-validation-for="SecurityQuestion1" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group-ib col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
                            <label asp-for="SecurityAnswer1" class="control-label required"></label>
                            <div class="input-group input-info">
                                <input type="text" asp-for="SecurityAnswer1" class="form-control hide-text" aria-required="true" placeholder="Enter the answer"
                                       autocomplete="off" />
                                <div class="input-group-text"><i class="fa fa-eye collapse"></i></div>
                            </div>
                            <div>
                                <span asp-validation-for="SecurityAnswer1" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group-ib col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
                            <label asp-for="SecurityHint1" class="control-label"></label>
                            <div class="input-group input-info">
                                <input asp-for="SecurityHint1" class="form-control" aria-required="false" placeholder="Add a hint if you might need one"
                                       autocomplete="off" />
                                <partial name="_InputQuestion" model="@hintExplanation" />
                            </div>
                            <div>
                                <span asp-validation-for="SecurityHint1" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />

                    <h2>Question 2</h2>
                    <div class="col-md-12">
                        <div class="form-group-ib col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
                            <label asp-for="SecurityQuestion2" class="control-label required"></label>
                            <input asp-for="SecurityQuestion2" class="form-control" aria-required="true" placeholder="Enter or select a question"
                                   list="questionsList" autocomplete="off" />
                            <div>
                                <span asp-validation-for="SecurityQuestion2" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group-ib col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
                            <label asp-for="SecurityAnswer2" class="control-label required"></label>
                            <div class="input-group input-info">
                                <input type="text" asp-for="SecurityAnswer2" class="form-control hide-text" aria-required="true" placeholder="Enter the answer"
                                       autocomplete="off" />
                                <div class="input-group-text"><i class="fa fa-eye collapse"></i></div>
                            </div>
                            <div>
                                <span asp-validation-for="SecurityAnswer2" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group-ib col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
                            <label asp-for="SecurityHint2" class="control-label"></label>
                            <div class="input-group input-info">
                                <input asp-for="SecurityHint2" class="form-control" aria-required="false" placeholder="Add a hint if you might need one"
                                       autocomplete="off" />
                                <partial name="_InputQuestion" model="@hintExplanation" />
                            </div>
                            <div>
                                <span asp-validation-for="SecurityHint2" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="col-md-12">
                        <partial name="_SubmitButton" />
                    </div>
                </div>

                <div class="collapse">
                    <datalist id="questionsList">
                        <option>What's the worst gift you ever received?</option>
                        <option>If you had to be an animal, what type would you be?</option>
                        <option>What was the name of the first album you bought?</option>
                        <option>Who would you like to play you in a film?</option>
                        <option>Who was your secret childhood crush?</option>
                        <option>Where did you have your first legal drink in a pub or bar?</option>
                        <option>What smell brings back your favourite memories?</option>
                        <option>What would you change your name to, if you could?</option>
                    </datalist>
                </div>
            </div>
        </form>
    </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
