@using Application.Areas.Account.ViewModels
@model UpdateDetailsVm
@{
    ViewData["Title"] = "Update Account";
}

<h1>Update Your Account Details</h1>

<section>
    <form asp-area="Account" asp-controller="Manage" asp-action="UpdateDetails" method="post">
        <partial name="_FormHiddenInputs" />
        
        <div class="row @CenterFlexNoWrapContainer">

            <div class="collapse">
                <input type="hidden" asp-for="HashedUserId" />
                <input type="hidden" asp-for="SantaUserKey" />
            </div>

            <div class="mb-5">
                <h2>Please check your details, and update them if necessary</h2>

                <div class="mt-2 mb-4">
                    <p>@StandardPhrases.DetailsScrambled.</p>
                    <p>@StandardPhrases.EmailVisibility.</p>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <partial name="_SetUserNameAndEmail" />

                <partial name="_SetPersonalDetails" />

                <partial name="_ConfirmCurrentPassword" />

                <br />
                <div class="col-md-12">
                    <partial name="_SubmitButton" />
                </div>
            </div>

        </div>
    </form>
</section>
