@using static Global.Validation.IdentityVal;

@model UpdateDetailsVm
@{
    ViewData["Title"] = "Update Account";
}

<h1>Update Your Account Details</h1>

<section>
    <form asp-area="Account" asp-controller="Manage" asp-action="UpdateDetails" method="post">
        <partial name="_FormHiddenInputs" />
        
        <div class="row d-flex align-items-center justify-content-center text-center">

            <div class="collapse">
                <input type="hidden" asp-for="GlobalUserId" />
            </div>

            <div class="mb-5">
                <h2>Please check your details, and update them if necessary</h2>

                <p class="mt-2 mb-4">
                    For security and privacy, e-mail addresses and user names are scrambled in the database.
                </p>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <partial name="_SetUserNameAndEmail" />

                <partial name="_SetPersonalNames" />

                <partial name="_ConfirmCurrentPassword" />

                <br />
                <div class="col-md-12">
                    <partial name="_SubmitButton" />
                </div>
            </div>

        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScripts" />
}
