<h3>What is Secret Santa?</h3>
<p class="mt-2">Secret Santa is a free online tool to manage a secret santa gift exchange for Christmas.</p>
<p class="mb-4">
    You can create or join multiple groups, and let Secret Santa choose who will give to who.
</p>

<h3>What does Secret Santa do?</h3>
<p class="mt-2">With Secret Santa you can:</p>
<div class="@CenterFlexNoWrapContainer mb-4">
    <ul class="bulleted" style="margin-bottom: 0 !important">
        <li>Create or join a group - or multiple groups - to exchange gifts secretly at Christmas</li>
        <li>Automatically assign secret givers and receivers for each group when ready</li>            
        <li>Tell Santa about your relationships so you don't end up giving to (or receiving from) your partner</li>
        <li>Avoid giving to (or receiving from) the same person each year</li>
        <li>Set a spending limit for each group in your chosen currency</li>
        <li>Skip a year if you're not able to participate</li>
        <li>Add suggestions for your secret santa, and get them from the people you'll be giving to</li>
        <li>Send messages to other group members, e.g. to remind people to add their suggestions, or get more information on them</li>
    </ul>
</div>

<h3>Where do I get help and more information?</h3>
<p class="mt-2 mb-4">
    Try the <a asp-action="FAQs" asp-controller="Home">Frequently Asked Questions</a> page.
</p>