@{
    ViewData["Title"] = "About";
}

<section class="@CenterFlexWrapContainer">
    <div class="@StandardPageWidth">

        <h1>About Secret Santa</h1>
        <partial name="_About" />
    </div>
</section>
