@{
    ViewData["Title"] = "FAQs";
}

<section class="@CenterFlexWrapContainer">
    <div class="@StandardPageWidth">

        <h1>Frequently Asked Questions</h1>
        <div class="mt-4">

            <h3>Can I use Secret Santa for other occasions?</h3>
            <p class="mt-2 mb-4">
                Not at the moment, sorry. Secret Santa is for life, but it's also just for Christmas.
            </p>

            <h3>Is Secret Santa secure? Will it protect my data?</h3>
            <p class="mt-2 mb-4">
                The author has put a lot of effort into keeping your information safe. Please see the <a href="@Url.Action("FAQs")">Privacy</a> page.
            </p>

            <h3>Who created Secret Santa?</h3>
            <p class="mt-2 mb-4">
                Secret Santa was created by Mark Johnson in Leeds, UK between 2024 and 2025.
            </p>
        </div>
    </div>
</section>