@using Microsoft.AspNetCore.Identity
@using ViewLayer.Models.Home

@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager

@model HomeVm
@{
    ViewData["Title"] = "Home Page";
    string welcomeSignedInUser = "Welcome back to Secret Santa" // TODO: If the user has just registered, just say "Welcome to Secret Santa!" and give a quick guide
        + (string.IsNullOrWhiteSpace(Model?.CurrentUser?.Forename) ? "!" : $", {Model.CurrentUser?.Forename}!");
}

<div class="text-center">    
    @if (_signInManager.IsSignedIn(User))
    {
        <h1>@welcomeSignedInUser</h1> 
    }
    else
    {
        <h1>Welcome to Secret Santa!</h1>
        <p>
            <br />
            Please <a asp-area="Account" asp-controller="Home" asp-action="Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })">log in</a> if you have an account,
                or <a asp-area="Account" asp-controller="Manage" asp-action="Register">register</a> as a new user.
        </p>
    }
</div>
