@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>Welcome back to Secret Santa!</h1>



    }
    else
    {
        <h1>Welcome to Secret Santa!</h1>
        <p>
            <br />
            Please <a asp-area="Account" asp-controller="Home" asp-action="Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })">log in</a> if you have an account,
                or <a asp-area="Account" asp-controller="Manage" asp-action="Register">register</a> as a new user.
        </p>
    }
</div>
