@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager

@model HomeVm
@{
    ViewData["Title"] = "Home Page";
    bool mustSetSecurityQuestions = Model?.CurrentUser?.SecurityQuestionsSet == false;

    string welcomeSignedInUser = "Welcome" + (mustSetSecurityQuestions ? string.Empty : " back")
        + (string.IsNullOrWhiteSpace(Model?.CurrentUser?.Greeting) ? " to Secret Santa" : string.Empty) // avoid making the string too long
        + (string.IsNullOrWhiteSpace(Model?.CurrentUser?.Forename) ? string.Empty : $", {Model.CurrentUser.Forename}")
        + (string.IsNullOrWhiteSpace(Model?.CurrentUser?.Greeting) ? "!" : $". {Model.CurrentUser.Greeting}!");    
}

<partial name="_SuccessMessage" />

@if (_signInManager.IsSignedIn(User))
{
    <h1>@welcomeSignedInUser</h1>
    <div class="mt-2 d-flex text-center align-items-center justify-content-center">
        @if (mustSetSecurityQuestions)
        {
            <p>
                Santa has one final task for you before he can accept your wish list. Please set some
                <a asp-area="Account" asp-controller="Manage" asp-action="SetSecurityQuestions" data-toggle="tooltip" title="Set Your Security Questions">
                    security questions
                </a> in case you forget your password and need to reset it.
            </p>
        }
        else
        {
            <div class="col-xl-10 col-lg-11 col-md-12 mt-2">
                <partial name="_HomePageCards" />
            </div>
        }
    </div>
}
else
{
    <h1>Welcome to Secret Santa!</h1>
    <div class="mt-2">
        <p>
            Please <a asp-area="Account" asp-controller="Home" asp-action="Login">log in</a> if you have an account,
            or <a asp-area="Account" asp-controller="Manage" asp-action="Register">register</a> as a new user.
        </p>
        <p>
            If you have an account but have forgotten your password, you can
            <a asp-area="Account" asp-controller="Home" asp-action="ForgotPassword" data-toggle="tooltip" title="Reset Your Password">
                reset it here.
            </a>
        </p>
    </div>
}
