@{
    async Task Creator()
    {
        <text>
            <a class="navbar-brand" asp-area=@string.Empty asp-controller="Home" asp-action="Index">Secret Santa</a> &nbsp;
                was created by <a target="_blank" href="http://mrmarkajohnson.co.uk/">Mark Johnson</a>
        </text>
    }

    async Task Privacy()
    {
        <text>
            <a asp-area=@string.Empty asp-controller="Home" asp-action="Privacy">Privacy</a>
        </text>
    }

    void Credits()
    {
        <text>
            <a target="_blank" href="https://icons8.com/icon/52PmO1ntgoRU/berries">Berries</a> icon by
                <a target="_blank" href="https://icons8.com">Icons8</a> and converted in 
                <a target="_blank" href="https://www.xiconeditor.com/">XIconEditor</a>
        </text>
    }
}

<footer class="footer">
    <div class="d-block d-sm-none">
        <div class="col-12 text-center">
            @{
                await Creator();
            }
        </div>
        <div class="col-12 text-center">
            @{
                await Privacy();
            }
        </div>
        <div class="col-12 text-center">
            @{
                Credits();
            }
        </div>
    </div>

    <div class="d-none d-sm-flex justify-content-between">
        <div>
            @{
                await Creator();
            }
        </div>
        <div class="text-center" style="padding-left: 20px; padding-right: 20px">
            @{
                await Privacy();
            }
        </div>
        <div class="text-end">
            @{
                Credits();
            }
        </div>
    </div>
</footer>