@using Global.Abstractions.Global

@model IForm

<div class="collapse">
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="SubmitButtonText" />
    <input type="hidden" asp-for="SubmitButtonIcon" />
    <input type="hidden" asp-for="SuccessMessage" />
</div>
