@inject SignInManager<IdentityUser> SignInManager

@{
    HomeVm Model = ViewData["LayoutViewModel"] as HomeVm ?? new HomeVm();
    bool mustSetSecurityQuestions = Model?.CurrentUser?.SecurityQuestionsSet == false;

    var smallMenuModel = new MainMenuVm
    {
        HomeModel = Model ?? new(),
        Small = true
    };

    var normalMenuModel = new MainMenuVm
    {
        HomeModel = Model ?? new(),
        Small = false
    };
}

<header>
    <nav class="navbar navbar-expand-sm bg-opacity-75">
        <div class="container-fluid align-items-start">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="navbar-brand d-none d-xl-block" asp-area=@string.Empty asp-controller="Home" asp-action="Index">Secret Santa</a>

                @if (mustSetSecurityQuestions)
                {
                    <a class="navbar-brand" href="#"></a>
                    <a class="nav-link" asp-area="@AreaNames.Account" asp-controller="Manage" asp-action="SetSecurityQuestions">Set Your Security Questions</a>
                }
                else if (Model?.CurrentUser != null)
                {
                    <div class="text-start justify-content-start">
                        <div class="navbar" style="flex-wrap: nowrap !important;">
                            <a class="nav-link left-menu-item" asp-area=@string.Empty asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-house" style="color: #885533">&nbsp;</i><b>Home</b>
                            </a>

                            <partial name="Menu/_UserDetailsMenu" model="@Model" />
                        </div>
                    </div>

                    <text>&nbsp;</text>

                    <div class="d-none d-sm-block text-end justify-content-end">
                        <div class="collapse navbar-collapse text-end justify-content-end" style="min-height: 40px !important; flex-wrap: wrap !important;">
                            @* In normal mode, show normal drop-downs *@
                            <partial name="Menu/_LoggedInMenu" model="@normalMenuModel" />
                        </div>
                    </div>

                    <div class="d-block d-sm-none text-end justify-content-end">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" title="Menu"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa-solid fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse text-end justify-content-end" id="navbarContent">
                            @* In xs mode, show left drop-downs *@
                            <partial name="Menu/_LoggedInMenu" model="@smallMenuModel" />
                        </div>
                    </div>
                }
            }
            else
            {
                <a class="navbar-brand" asp-area=@string.Empty asp-controller="Home" asp-action="Index">Secret Santa</a>

                <div class="text-start justify-content-start">
                    <div class="navbar" style="padding: 4px 0 0 8px !important;">
                        <ul class="navbar-nav left-menu-item">
                            <li class="nav-item-dropdown">
                                <a class="btn btn-outline-primary nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="fa-solid fa-question" style="color: #ffffff">&nbsp;</span>Help
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
                                    <partial name="Menu/_HelpSubMenu" />
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" title="Menu"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa-solid fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse text-end justify-content-end" id="navbarContent" style="min-height: 40px !important">
                    <partial name="Menu/_LoginMenu" />
                </div>
            }
        </div>
    </nav>
</header>
