@model string

@if (Model.NotEmpty())
{
    <div class="input-group-text" data-toggle="tooltip" data-html="true" data-bs-html="true" data-bs-container="div.input-group-text" title="@Model">
        <i class="fa fa-circle-question fa-border"></i>
    </div>
}