@inject IWebHostEnvironment environment

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecretSanta</title>

    <script>
        FontAwesomeConfig = { autoReplaceSvg: false }
    </script>

    <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column h-100">
    <div class="snow">
        <div class="snow-layer1 a"></div>
        <div class="snow-layer1"></div>
        <div class="snow-layer2 a"></div>
        <div class="snow-layer2"></div>
        <div class="snow-layer3 a"></div>
        <div class="snow-layer3"></div>
    </div>
    <header>        
        <nav class="navbar navbar-expand-sm bg-opacity-75">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" title="Login Menu" 
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa-solid fa-gift"></span>
                </button>
                <div class="collapse navbar-collapse ms-auto text-end" id="navbarContent">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container flex-grow-1 snow-background" style="margin: 0 !important; width: 100% !important; max-width: 100% !important;">
        <main role="main" class="pt-4 pb-4" style="margin: 0 !important; width: 100% !important;">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-opacity-75">        
        <span class="text-secondary text-glow">Secret Santa</span> was created by <a target="_blank" href="https://mrmarkajohnson.com/">Mark Johnson</a>               
        <span class="float-end"> <a target="_blank" href="https://icons8.com/icon/52PmO1ntgoRU/berries">Berries</a> icon by 
            <a target="_blank" href="https://icons8.com">Icons8</a> and converted in <a target="_blank" href="https://www.xiconeditor.com/">XIconEditor</a>
        </span>
        @* <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/lib/fontawesome-free/js/all.min.js"></script> *@

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @{
        string relativePath = Context.Request.Path.ToString().Trim('/');
        string bundlePath = $"js/{relativePath}/" + (environment.IsDevelopment() ? "bundle.js" : "bundle.min.js");

        string absolutePath = System.IO.Path.GetFullPath($"wwwroot/{bundlePath}");
        if (System.IO.File.Exists(absolutePath))
        {
            <script src="~/@bundlePath"></script>
        }

        await RenderSectionAsync("Scripts", required: false);
    }
</body>
</html>
