@using Web.Extensions

@model string
@{
    string text = Model;
    string icon = "<i class=\"fa fa-lightbulb\" style=\"color: gold\"></i> &nbsp; &nbsp;";

    if (text.StartsWith("<p"))
    {
        text = text.ReplaceFirst(">", ">" + icon);
    }
    else
    {
        text = icon + text;
    }
}

<div class="col-12">
    <div class="alert alert-info p-2 mt-3 mb-2">
        @text.ToRawHtml()
    </div>
</div>