@using Global.Abstractions.Global;

@model IPage

<div class="collapse">
    <input type="hidden" asp-for="SuccessMessage" id="redirectSuccessMessage" /> @* NB: This is lost on submit as the model is an interface, but that's desired anyway *@
</div>