@using Application.Shared.BaseModels
@model UserNamesBase

<div class="collapse">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Forename" />
    <input type="hidden" asp-for="MiddleNames" />
    <input type="hidden" asp-for="Surname" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="UserDisplayName" />
</div>