@model UserNamesBase

<div class="collapse">
    <input type="hidden" asp-for="HashedUserId" />
    <input type="hidden" asp-for="Forename" />
    <input type="hidden" asp-for="MiddleNames" />
    <input type="hidden" asp-for="PreferredNameType" />
    <input type="hidden" asp-for="PreferredFirstName" />
    <input type="hidden" asp-for="Surname" />
    <input type="hidden" asp-for="Gender">
    <input type="hidden" asp-for="ShowEmail" />
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="UserDisplayName" />

    @if (Model.ShowEmail)
    {
        <input type="hidden" asp-for="Email" />
    }
</div>