@model IQueryable<IUserGiftingGroupYear>
@{
    ViewData["Title"] = "Participate in Groups";
}

<h1>Participate in Gifting Groups for @DateTime.Today.Year</h1>

<div class="row d-flex align-items-center justify-content-center text-center">

    <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
        <p>
            Here you can view the groups that you're in, choose whether to participate this year, and see who you're giving to.
        </p>
    </div>

    <div class="@StandardFullWidthGridContainer">
        <partial name="_GiftingGroupsGrid" />
        @* @Html.AjaxGrid(Url.Action("GiftingGroupsGrid"), new { id = "gifting-groups-grid" }) *@
    </div>

    <div class="row d-flex align-items-center justify-content-center text-center mt-4">

        <div class="@StandardGroupWidth d-flex flex-wrap justify-content-between text-center">
            <div>
                <a asp-area="Suggestions" asp-controller="Home" asp-action="Index">
                    Manage Suggestions
                </a>
            </div>
            <div>
                <a asp-area="Suggestions" asp-controller="Home" asp-action="AddSuggestion">
                    Add A Suggestion
                </a>
            </div>
        </div>

    </div>
</div>