@model ISantaMessage

@if (Model.CanReply)
{
    <div class="d-inline" data-toggle="tooltip" data-html="true" data-bs-html="true"
         data-bs-container="div.modal-footer" title="Reply">
    
        <button type="button" class="btn btn-close-modal modal-link" data-bs-dismiss="modal"
                data-url="@Url.Action(Context, "Reply", "Home", AreaNames.Messages, new { messageKey = Model.MessageKey })">
            <i class="fa fa-reply"></i> Reply
        </button>
    </div>
}