@using Web.Extensions

@model ISantaMessage
@{
    string toDescription = Model.IsSentMessage 
        ? Model.RecipientType.SenderToDescription(Model.GroupName)
        : Model.RecipientType.MessageRecipientToDescription(Model.GroupName);
}

<div class="col-11">
    <div class="form-group-ib col-12 mb-3">
        <label asp-for="Sent" class="control-label"></label>
        <div class="control-label fw-normal">
            @Model.Sent.ToDateTimeString()
        </div>
    </div>
</div>

<div class="col-11">
    <div class="mb-3 d-flex">
        <div class="form-group-ib col-6">
            <label asp-for="SenderName" class="control-label"></label>
            <div class="control-label fw-normal">
                @Model.SenderName
            </div>
        </div>
        <div class="form-group-ib col-6">
            <label asp-for="RecipientType" class="control-label"></label>
            <div class="control-label fw-normal">
                @toDescription
            </div>
        </div>
    </div>
</div>

<div class="col-11">
    <div class="form-group-ib col-12 mb-3">
        <label asp-for="HeaderText" class="control-label"></label>
        <div class="control-label fw-normal">
            @Model.HeaderText
        </div>
    </div>
</div>

<div class="col-11">
    <div class="form-group-ib col-12 mb-3">
        <label asp-for="MessageText" class="control-label"></label>
        <div class="control-label fw-normal">
            @Model.MessageText.ToRawHtml()
        </div>
    </div>
</div>
