@model WriteMessageVm

<div class="modal santa-modal" tabindex="-1" id="writeMessageModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <partial name="Modal/_ModalHeader" />

            <form asp-area="Messages" asp-controller="Home" asp-action="SendMessage" method="post" id="messageForm">
                <div class="modal-body">

                    <partial name="_WriteMessage" />

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                </div>

                <partial name="Modal/_ModalFooter" />
            </form>
        </div>
    </div>
</div>