@using Global.Abstractions.Areas.Messages

@model IQueryable<IReadMessage>
@{
    ViewData["Title"] = "Messages";
}

<h1>Messages</h1>

<div class="row @CenterFlexNoWrapContainer">

    <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
        <p>
            Here you can read your messages. Unread messages are in red. Messages marked 'important' are in bold text.
        </p>
    </div>

    <div class="@StandardFullWidthGridContainer">
        <partial name="_MessagesGrid" />
        @* @Html.AjaxGrid(Url.Action("MessagesGrid"), new { id = "messages-grid" }) *@
    </div>

    <div class="row @CenterFlexNoWrapContainer mt-4">

        <div class="@StandardGroupWidth">           
            <div>
                <a asp-area="Messages" asp-controller="Home" asp-action="WriteMessage">
                    Write a Message
                </a>
            </div>
        </div>

    </div>
</div>