@using Global.Abstractions.Areas.Messages
@model IQueryable<IReadMessage>
@{
    ViewData["Title"] = "Messages";
}

<h1>Messages</h1>

<div class="row d-flex align-items-center justify-content-center text-center">

    <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
        <p>
            Here you can read your messages. Unread messages are in red. Messages marked 'important' are in bold text.
        </p>
    </div>

    <div class="@StandardFullWidthGridContainer">
        <partial name="_MessagesGrid" />
        @* @Html.AjaxGrid(Url.Action("MessagesGrid"), new { id = "messages-grid" }) *@
    </div>
</div>