@using Global.Abstractions.Areas.Messages

@model IQueryable<ISentMessage>
@{
    ViewData["Title"] = "Sent Messages";
}

<h1>Sent Messages</h1>

<div class="row @CenterFlexNoWrapContainer">

    <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
        <p>
            Here you can see messages that you've sent. Messages marked 'important' are in bold text.
        </p>
    </div>

    <div class="@StandardFullWidthGridContainer">
        <partial name="_SentMessagesGrid" />
    </div>

    <div class="row @CenterFlexNoWrapContainer mt-4">

        <div class="@StandardGroupWidth @EvenSpacingFlexGroup">
            <div>
                <a asp-area="Messages" asp-controller="Home" asp-action="Index">
                    Received Messages
                </a>
            </div>
            <div>
                <a asp-area="Messages" asp-controller="Home" asp-action="WriteMessage">
                    Write a Message
                </a>
            </div>
        </div>

    </div>
</div>