@model WriteMessageVm
@{
    ViewData["Title"] = Model.PageTitle;
    string action = Model is WriteReplyVm ? "Reply" : "WriteMessage";
}

<h1>@Model.PageTitle</h1>

<section>
    <form asp-area="@AreaNames.Messages" asp-controller="Home" asp-action="@action" method="post" id="messageForm">

        <partial name="_WriteMessage" />

    </form>
</section>