@model ManageSuggestionVm

<div class="modal santa-modal" tabindex="-1" id="manageSuggestionModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <partial name="Modal/_ModalHeader" />

            <form asp-area="Suggestions" asp-controller="Home" asp-action="SaveSuggestion" method="post">
                <div class="modal-body">
                    
                    <partial name="_ManageSuggestion" />

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                </div>

                <partial name="Modal/_ModalFooter" />
            </form>
        </div>
    </div>
</div>