@model ManageSuggestionVm
@{    
    ViewData["Title"] = Model.PageTitle;
}

<h1>@Model.PageTitle</h1>

<section>
    <form asp-area="Suggestions" asp-controller="Home" asp-action="SaveSuggestion" method="post">
    
        <partial name="_ManageSuggestion" />

    </form>
</section>
