@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<section>
    <div class="row d-flex align-items-center justify-content-center text-center">
        <div class="mb-5">
            You do not have access to the requested page.
        </div>
    </div>
</section>