@{
    ViewData["Title"] = "Not Found";
}

<h1>Access Denied</h1>
<section>
    <div class="row d-flex align-items-center justify-content-center text-center">
        <div class="mb-5">
            The requested item could not be found; you may not have access to it. Please go back and try again.
        </div>
    </div>
</section>