@model ISetPassword

<div class="@CenterFlexWrapContainer">
    <div class="@StandardGroupWidth">

        <div class="mb-3">
            <label asp-for="Password" class="control-label required"></label>
            <div class="input-group input-info">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Create a new password" />
                <div class="input-group-text"><i class="fa fa-eye collapse"></i></div>
                <partial name="_InputQuestion" model="@Passwords.Description" />
            </div>
            <div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="control-label required"></label>
            <div class="input-group input-info">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Re-enter your new password" />
                <div class="input-group-text"><i class="fa fa-eye collapse"></i></div>
            </div>
            <div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>